

/*============= header===================== */















/* ==============/ header======================================= */

/* ================== Hero page =============================== */








/* ===================/Hero imege ============================ */
   
/* =============== advantages ================================== */





  
  
/* =====================/advantages=====================  */
/* ===================== Our Team ============================ */

 {
    display: flex;
    gap: 24px;

}







    






/* =============== ================================== */
/* =================  ========================









/* =================== /  Our portfolio ==================== */
/* ===================== footer =========================  */



.left-footer-bloc{
    margin-right: 120px;
}






.mail-input {
    margin-left:auto ;
    
}
.mail-wrappere{
    display: flex;
    gap: 24px;
    align-items: center;

}




.mail-form-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
}



        .t
        

    /* ==================  =============== */

















 




  




s